:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
/* 
Палитра цветов:
- вторичный фон #F5F4FA;
- фон подвал #2F303A;
- заголовок #FFFFFF;
- текст #757575; #212121
- логотип #2196F3; #000000;
*/

/* Body */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Шапка сторінки */
.header-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-style {
  color: black;
}
.navigation {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.navigation-link {
  color: var(--title-text-color);
  text-decoration: none;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.contacts-link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Главный блок */
.section-title {
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-button {
  font-family: Roboto, sans-serif;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Особенности */
.benefits-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Чем мы занимаемся */
.activity-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;
}

/* Подвал */
.footer {
  color: #212121;
  background-color: #2f303a;
}
.footer-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-actent {
  color: var(--secondary-text-color);
}
.address-map {
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* PORTFOLIO */

.filters-button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: Roboto sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: #f5f4fa;
  height: 38px;
}
.filters-button:hover,
.filters-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.project-title {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
